<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RepFit - お問い合わせありがとうございました。</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<meta name="theme-color" content="#000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="canonical" href="https://www.repfit.jp/">
		<link rel="shortcut icon" href="files/img/favicon.ico">
		<link rel="stylesheet" href="files/css/top.css">
	</head>
	<body>
		<h1 class="u-tx-c l-adjuster-large" style="margin-top: 20%">RepFit へお問い合わせ頂き、ありがとうございました。<br>3営業日以内にご返答させて頂きます。しばらくお待ち下さい。</h1>
	</body>
</html>
