<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<meta name="theme-color" content="#000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>RepFit - PERFECT PERSONAL TRAINING</title>
		<meta name="description" content="忙しさを言い訳にせず、最適なボディバランスを整える。REPFITはあなただけの最適なボディバランスを整えることを目的としたパーソナルトレーニングサービスです。">
		<meta name="keywords" content="RepFit, パーソナルトレーニング, トレーニング, ボディバランス, パーソナル, ジム, フィットネス, ダイエット">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:title" content="RepFit - PERFECT PERSONAL TRAINING">
		<meta name="twitter:description" content="忙しさを言い訳にせず、最適なボディバランスを整える。REPFITはあなただけの最適なボディバランスを整えることを目的としたパーソナルトレーニングサービスです。">
		<meta name="twitter:image" content="files/img/ogp.png">
		<meta name="twitter:app:country" content="JP">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="RepFit - PERFECT PERSONAL TRAINING">
		<meta property="og:url" content="https://www.repfit.jp/">
		<meta property="og:title" content="RepFit - PERFECT PERSONAL TRAINING">
		<meta property="og:description" content="忙しさを言い訳にせず、最適なボディバランスを整える。REPFITはあなただけの最適なボディバランスを整えることを目的としたパーソナルトレーニングサービスです。">
		<meta property="og:image" content="files/img/ogp.png">
		<link rel="canonical" href="https://www.repfit.jp/">
		<link rel="shortcut icon" href="files/img/favicon.ico">
		<link rel="stylesheet" href="files/css/top.css">
	</head>
	<body>
		<!-- desktop header -->
		<section class="top-hero hidden-sm">
			<header class="m-header">
				<p><a href="/"><img src="files/img/logo_white.png" alt=""></a></p>
				<ul class="u-cf">
					<li><a href="#concept">コンセプト</a></li>
					<li><a href="#service">サービス</a></li>
					<li><a href="#trainer">トレーナー</a></li>
					<li><a href="#plans">プラン</a></li>
					<li><a href="#contact">お問い合わせ</a></li>
				</ul>
			</header>
			<h1 class="top-copy"><span>リアルとオンライン活用</span><br><span>フルサポート型パーソナルトレーニング</span></h1>
			<video class="top-video" autoplay loop>
			  <source src="files/img/video.mp4" type="video/mp4" />
				<source src="" type="video/ogg" />
			  <source src="files/img/video.webm" type="video/webm" />
			</video>
		</section>
		<!-- mobile header -->
		<section class="top-mb-hero visible-sm hidden">
			<header class="l-adjuster-large">
				<div>
					<p><a href="/"><img src="files/img/logo_white.png" alt=""></a></p>
					<a class="top-menu-trigger u-mb-lg" href="#">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<h1 class="top-copy"><span>リアルとオンライン活用</span><br><span>フルサポート型パーソナルトレーニング</span></h1>
			</header>
			<div class="top-hero-overlay hidden">
				<ul class="u-tx-c">
					<li class="top-hero-overlay-link"><a href="#concept">コンセプト</a></li>
					<li class="top-hero-overlay-link"><a href="#service">サービス</a></li>
					<li class="top-hero-overlay-link"><a href="#mb-trainer">トレーナー</a></li>
					<li class="top-hero-overlay-link"><a href="#plans">プラン</a></li>
					<li class="top-hero-overlay-link"><a href="#contact">お問い合わせ</a></li>
				</ul>
			</div>
		</section>

		<!-- sub-copy -->
		<section id="concept" class="top-sub-copy l-adjuster-large">
			<h2 class="u-tx-c u-fw-b u-mb-xl">リアルの対面パーソナルとオンラインサポートで効果的にセルフコントロール力を養う</h2>
			<p class="u-tx-c">RepFitは、「生涯において自身の体をセルフコントロールできるようになる」ことを目的としたパーソナルトレーニングサービスです</p>
		</section>
		<section id="service" class="top-feature">
			<ul class="l-grid">
				<li class="top-feature-1 l-cell -xs-12 -sm-6 hidden-sm"></li>
				<li class="-xs-12 visible-sm hidden"><img src="files/img/feature_1.jpg" alt=""></li>
				<li class="top-lead-copy l-cell -xs-12 -sm-6">
					<div class="top-lead-copy-box">
						<h3 class="u-mb-md">1. パーソナルトレーニング</h3>
						<p>実際に対面にて体を評価し、動きの癖や筋力、柔軟性のアンバランスなどに合わせたメニューをデザインします</p>
					</div>
				</li>
				<li class="-xs-12 visible-sm hidden"><img src="files/img/feature_2.jpg" alt=""></li>
				<li class="top-lead-copy l-cell -xs-12 -sm-6">
					<div class="top-lead-copy-box">
						<h3 class="u-mb-md">2. 食事管理サポート</h3>
						<p>頂いた食事報告へのフィードバックにより、その方に合った栄養の摂り方、タイミングなど生涯に渡って使えるノウハウを身につけて頂きます</p>
					</div>
				</li>
				<li class="top-feature-2 l-cell -xs-12 -sm-6 hidden-sm"></li>
				<li class="top-feature-3 l-cell -xs-12 -sm-6 hidden-sm"></li>
				<li class="-xs-12 visible-sm hidden"><img src="files/img/feature_3.jpg" alt=""></li>
				<li class="top-lead-copy l-cell -xs-12 -sm-6">
					<div class="top-lead-copy-box">
						<h3 class="u-mb-md">3. エクササイズ動画サポート</h3>
						<p>数分の簡単なエクササイズを定期的に行うことで、体のアンバランスや不良動作の癖を改善していくことができます。さらに、ご自身の動画を送って頂く事で、トレーナーからの的確な運動修正が可能です</p>
					</div>
				</li>
			</ul>
		</section>

		<!-- desktop introduce trainer -->
		<section id="trainer" class="u-mb-xxl hidden-sm">
			<ul class="l-grid">
				<li class="top-trainer l-cell -xs-12 -sm-12">
					<div class="top-trainer-copy-box">
						<h3 class="u-mb-md">TRAINER</h3>
						<div class="top-trainer-copy">
							<p class="u-mb-md">KEITA OGASAWARA</p>
							<p>信州大学体育大学卒業<br>
								国立大学体育科在籍中よりトレーナー活動を始め、大手フィットネスクラブに入社。独立後、一般のクライアントから大学チーム、芸能業界まで幅広くサポートにあたる。現在はフィットネスクラブを中心に指導にあたり、活動先クラブで売上トップを継続中</p>
						</div>
					</div>
				</li>
			</ul>
		</section>
		<!-- mobile introduce trainer -->
		<section id="mb-trainer" class="top-trainer visible-sm hidden u-mb-xxl">
			<p class="u-tx-c u-fw-b u-mb-xl">専属トレーナーのご紹介</p>
			<img class="u-mb-md" src="files/img/mobile_trainer.jpg" alt="">
			<div class="top-trainer-copy-box">
				<div style="margin: 8%;">
					<h3 class="u-mb-md">TRAINER</h3>
					<div class="top-trainer-copy">
						<p class="u-mb-md">KEITA OGASAWARA</p>
						<p>信州大学体育大学卒業<br>
							某王手トレーニングジムのトレーナーを経てフリーのトレーナーとして独立。パーソナルトレーナーとしてこれまで約100人を担当。トレーナーの育成も行っている
						</p>
					</div>
				</div>
			</div>
		</section>

		<section id="plans" class="top-price l-adjuster-large u-mb-xxl u-tx-c">
			<p class="u-tx-c u-fw-b u-mb-xl">ご利用料金</p>
			<ul class="l-grid">
				<li class="l-cell -xs-12 -sm-4"><a href="#contact"><img src="files/img/price_1.png" alt=""></a></li>
				<li class="l-cell -xs-12 -sm-4"><a href="#"><img src="files/img/price_2.png" alt=""></a></li>
				<li class="l-cell -xs-12 -sm-4"><a href="#"><img src="files/img/price_3.png" alt=""></a></li>
			</ul>
		</section>
		<section class="top-service-area l-adjuster-large">
			<p class="u-tx-c u-fw-b">現在、表参道エリアのみでサービスを実施しております</p>
		</section>
		<section id="contact" class="top-inquiry l-adjuster-large u-mb-xxl">
			<p class="u-tx-c u-fw-b u-mb-xl">お問い合わせ</p>
			<form class="formrun" action="https://form.run/api/v1/r/P2FPrghffIdv8SSEGExY" method="post" target="_blank">
			  <div class="u-mb-sm">
			    <label class="u-tx-l">お名前<span class="top-tag">必須</span></label>
			    <input name="お名前" type="text" data-formrun-required>
					<div data-formrun-show-if-error="お名前">お名前を入力してください</div>
			  </div>
			  <div class="u-mb-sm">
			    <label class="u-tx-l">メールアドレス<span class="top-tag">必須</span></label>
			    <input name="メールアドレス" type="text" data-formrun-type="email" data-formrun-required>
			    <div data-formrun-show-if-error="メールアドレス">メールアドレスを正しく入力してください</div>
			  </div>
			  <div class="u-mb-xl">
			    <label class="u-tx-l">お問い合わせ内容<span class="top-tag">必須</span></label>
			    <textarea name="お問い合わせ" data-formrun-required></textarea>
			    <div data-formrun-show-if-error="お問い合わせ">お問い合わせ入力してください</div>
			  </div>
			  <button class="u-tx-c u-fw-b" type="submit" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中...">送信</button>
			</form>
		</section>
		<footer class="m-footer">
			<p class="u-tx-c">©2017 REPFIT</p>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://sdk.form.run/js/v2/formrun.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$('.top-menu-trigger').on('click', function(){
				$(this).toggleClass('active');
				$('.top-hero-overlay').toggleClass('visible-sm');
				console.log('test')
				return false;
			});

			$('.top-hero-overlay-link').on('click', function(){
				$('.top-hero-overlay').removeClass('visible-sm');
				$('.top-menu-trigger').removeClass('active');
			})

			$('a[href^="#"]').click(function() {
				var speed = 400; // ミリ秒
				var href= $(this).attr("href");
				var target = $(href == "#" || href == "" ? 'html' : href);
				// console.log(target);
				var position = target.offset().top;
				// console.log(position);
				$('html, body').animate({scrollTop: position}, speed, 'swing');
				return false;
			 });
		});
		</script>
		<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyDUA8tpNqVDKRAvz6HTdGlYpuhDO9qgdm8",
		    authDomain: "repfit1.firebaseapp.com",
		    databaseURL: "https://repfit1.firebaseio.com",
		    projectId: "repfit1",
		    storageBucket: "repfit1.appspot.com",
		    messagingSenderId: "483137754356"
		  };
		  firebase.initializeApp(config);
		</script>
	</body>
</html>
